<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard | Lazeez</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
<div class="row">
    <div class="col-md-2 col-sm-2 col-lg-2" th:insert="~{sidebar :: sidebar(currentUserName=${currentUserName})}"></div>
    <div class="col-md-10 col-sm-10 col-lg-10">
        <div class="" th:insert="~{navbar :: navbar}"></div>
        <div class="row p-1 m-0 px-2 text-white">
            <div class="col-md-4">
                <div class="dashboard-bg text-white card dashboard-card-min-height-100 shadow rounded-4 m-2 p-3">
                    <span class="d-flex fs-6 p-1 justify-content-center">Total Employee: &nbsp;<span class="fw-bold"
                                                                                                     th:text="${totalEmployee}"></span></span>
                    <span class="d-flex fs-6 p-1 justify-content-center">Total Officer: &nbsp;<span class="fw-bold"
                                                                                                    th:text="${totalOfficer}"></span></span>
                    <span class="d-flex fs-6 p-1 justify-content-center">Total Driver: &nbsp;<span class="fw-bold"
                                                                                                   th:text="${totalDriver}"></span></span>
                    <button class="btn p-1 btn-warning"><a class="text-black" href="/employee">Goto Report</a></button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dashboard-bg text-white card dashboard-card-min-height-100 shadow rounded-4 m-2 p-3">
                    <span class="d-flex fs-6 align-middle p-1 justify-content-center">Total Order: &nbsp;<span
                            class="fw-bold" th:text="${totalOrder}"></span></span>
                    <button class="btn p-1 btn-warning"><a class="text-black" href="/order">Goto Report</a></button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dashboard-bg text-white card dashboard-card-min-height-100 shadow rounded-4 m-2 p-3">
                    <span class="d-flex fs-6 align-middle p-1 justify-content-center">Total Food: &nbsp;<span
                            class="fw-bold"
                            th:text="${totalFood}"></span></span>
                    <button class="btn p-1 btn-warning"><a class="text-black" href="/food-menu">Goto Report</a></button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dashboard-bg text-white card dashboard-card-min-height-100 shadow rounded-4 m-2 p-3">
                    <span class="d-flex fs-6 align-middle p-1 justify-content-center">Total Earning (BDT): &nbsp;<span
                            class="fw-bold" th:text="${totalAmount}"></span></span>
                    <button class="btn p-1 btn-warning"><a class="text-black" href="/order">Goto Report</a></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script th:src="@{/js/jquery-3.7.1.min.js}" type="text/javascript"></script>
<!-- Popper.JS -->
<script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>

<script type="text/javascript">
    document.getElementById('dashboard').classList.add('active');
</script>
</body>
</html>